.THIS .slds-scrollable_x {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y: visible !important;
    overflow-x: visible !important;
}
.THIS .slds-grid_align-end
{
    justify-content: left !important; 
}

.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.acc-container {
    background: white !important;
}

.acc-container:first-child {
    padding: 7px;
    border-radius: 4px;
}

.record-form {
    padding: 15px;
}

lightning-input, lightning-combobox {
    padding-right: 7px;
}

lightning-button-icon {
    margin-left: -24px;
}

lightning-button {
    display: block;
    margin: 7px 0px;
}

.radio-button {
    display: flex;
}

.btn-display-right {
    display: flex;
    justify-content: end;
}

.btn-display-left {
    display: flex;
    justify-content: start;
}

lightning-radio-group {
    margin: auto;
}